<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/index.js"></script>
  </head>
	<div class = "navBar">
      <a class="navButton" href="/" title="In Quarantine: Main">Main</a>
      <a class="navButton" href="/projMotiv" title="In Quarantine: About">About</a>
      <a class="navButton" href="/teamIntro" title="In Quarantine: Team">Team</a>
	</div>

	<h3></h3>
    <div>
      <h1>Task Master</h1>
    </div>
    <div>
        <p id='activity_space'></p>
	<button style class="button" id="task_button">Productive</a>
	<button style class="button" id="random_button">Random</a>
	<button style class="button" id="fun_button">Fun</a>
    </div>
    </p>
  </body>
</html>