<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style.css">    
    <meta charset="utf-8">
    <meta name="viewport" content="weidth=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class = "navBar">
      <a class="navButton" href="/" title="In Quarantine: Main">Main</a>
      <a class="navButton" href="/projMotiv" title="In Quarantine: About">About</a>
      <a class="navButton" href="/teamIntro" title="In Quarantine: Team">Team</a>
    </div>
    <div class = "mid">
    <p>With the quarantine underway, our team decided we needed a way to help people stay active.<br />
       This would help reduce stress, and make the time pass quicker. The task can be short excersizes, or fun games.<br />
       It also includes productive task to help stay safe during these times like cleaning and such.<br />
    </p>
    <div>
  </body>
</html>